<h1>Links Index</h1>

<%= form_for @link do |f|  %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :url%>:
  <%= f.text_field :url%><br />

  <%= f.submit "Submit", id:"new-link"%>
<% end %>

<% if @links %>

<div class="input-container">
    <p>Search:</p>
    <input type="text" id="search" class="input-field"  placeholder="Search by name">
    <br>
</div>
<br>

<div class="input-container">
  <button  id="filter-read">Show Read only</button>
</div>

<div class="input-container">
  <button  id="filter-unread">Show unRead only</button>
</div>

<h2>All your links</h2>

<% end %>
<table id="link-table" >
        <tr>
          <th class="enclosed-cells">title</th>
          <th class="enclosed-cells">url</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tbody id="links-list">
        </tbody>
      </table>


</div>
