<h1>Links Index</h1>

<%= form_for @link do |f|  %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :url%>:
  <%= f.text_field :url%><br />

  <%= f.submit "Submit", id:"new-link"%>
<% end %>

<% if @links %>
<h2>All your links</h2>

<% end %>

<div id="links-list">

</div>
